<mjml>
  <mj-head>
    <mj-title>${{ shopify.contact_customer.title }}$</mj-title>
    /*=include ../../include/attributes.mjml" */
    /*=include ../../include/style.mjml" */
    /*=include ../../include/fonts.mjml" */
  </mj-head>
  <mj-body>
    <mj-container>

      <!-- header image -->
      <mj-section full-width="full-width" padding="10px 0">
        <mj-column>
          <mj-image mj-class="mail__img-resp" src="${{ shopify.contact_customer.banner }}$" />
        </mj-column>
      </mj-section>


      <!-- mail content -->
      <mj-wrapper>
        <!-- content text intro -->
        <mj-section full-width="full-width">
          <mj-column>
            <mj-text mj-class="mail__text--red mail__text--heavy">
              ${{ shopify.greetings }}$
              <br />
              <br />
            </mj-text>
            <mj-text>
              ${{ shopify.contact_customer.text }}$
              <br />
              <br />
            </mj-text>
          </mj-column>
        </mj-section>

      <!-- contact -->
      /*=include ../../include/component/contact.mjml"*/

      <!-- social -->
      /*=include ../../include/component/social.mjml"*/

      <!-- copyright -->
      /*=include ../../include/component/copyright.mjml"*/
    </mj-container>
  </mj-body>
</mjml>