<mjml>
  <mj-head>
    <mj-title>${{ shopify.order_refund.title }}$</mj-title>
    /*=include ../../include/attributes.mjml" */
    /*=include ../../include/style.mjml" */
    /*=include ../../include/fonts.mjml" */
  </mj-head>
  <mj-body>
    <mj-container>

      <!-- header image -->
      <mj-section full-width="full-width" padding="10px 0">
        <mj-column>
          <mj-image mj-class="mail__img-resp" src="${{ shopify.order_refund.banner }}$" />
        </mj-column>
      </mj-section>


      <!-- mail content -->
      <mj-wrapper>
        <!-- content text intro -->
        <mj-section full-width="full-width">
          <mj-column>
            <mj-text mj-class="mail__text--red mail__text--heavy">
              ${{ shopify.greetings }}$
              <br />
              <br />
            </mj-text>
            <mj-text>
              ${{ shopify.order_refund.text }}$
              <br />
              <br />
            </mj-text>
          </mj-column>
        </mj-section>

        <!-- order details -->
        <mj-section>
          <mj-column>
            <mj-raw>
            <tr><td>
              <div>
                <span>
                  <span style="display: block;">

                    <!-- INFORMATIONS -->
                    <div>
                      <h3 class="mail__header mail__header--red" style="background-image:url(https://cdn.shopify.com/s/files/1/0761/1455/files/title-01.png)">${{ shopify.informations.title }}$</h3>
                      <p>
                        <span class="mail__text--red mail__text--heavy">${{ shopify.informations.number }}$ :</span> {{order_name}}
                        <br/>
                        <span class="mail__text--red mail__text--heavy">${{ shopify.informations.date }}$ :</span> {{ created_at | date: "%d/%m/%Y" }}
                      </p>
                    </div>

                    <!-- DETAILS -->
                    <div style="width: 100%; height: auto;">
                      /*=include ../../include/component/details-refund.mjml"*/
                    </div>

                  </span>
                </span>
              </div>
            </td></tr>
            </mj-raw>
          </mj-column>
        </mj-section> <!-- end order details -->
      </mj-wrapper>

      <!-- contact -->
      /*=include ../../include/component/contact.mjml"*/

      <!-- social -->
      /*=include ../../include/component/social.mjml"*/

      <!-- copyright -->
      /*=include ../../include/component/copyright.mjml"*/
    </mj-container>
  </mj-body>
</mjml>