<mjml>
  <mj-head>
    <mj-title>${{ shopify.shipping_confirmation.title }}$</mj-title>
    /*=include ../../include/attributes.mjml" */
    /*=include ../../include/style.mjml" */
    /*=include ../../include/fonts.mjml" */
  </mj-head>
  <mj-body>
    <mj-container>
      /*=include ../../include/component/switch.mjml" */
      <!-- header image -->
      <mj-section full-width="full-width" padding="10px 0">
        <mj-column>
          <mj-image mj-class="mail__img-resp" src="${{ shopify.shipping_confirmation.banner_red }}$" />
        </mj-column>
      </mj-section>


      <!-- mail content -->
      <mj-wrapper>
        <!-- content text intro -->
        <mj-section full-width="full-width">
          <mj-column>
            <mj-text mj-class="mail__text--red mail__text--heavy">
              ${{ shopify.shipping_confirmation.text }}$
              <br />
              <br />
            </mj-text>
            <mj-text>
              ${{ shopify.shipping_confirmation.text1--red }}$<br />
              ${{ shopify.shipping_confirmation.text2--red }}$
              <br />
              <br />
            </mj-text>
          </mj-column>
        </mj-section>

        <mj-section full-width="full-width">
          <mj-column>
            <mj-button mj-class="mail__button--red" href="${{ shopify.shipper }}$">
              ${{ shopify.follow }}$
            </mj-button>
          </mj-column>
        </mj-section>

        <!-- order details -->
        <mj-section>
          <mj-column>
            <mj-raw>
            <tr><td>
              <div>
                <span>
                  <span style="display: block;">
                  <!-- INFORMATIONS -->
                    <div>
                      /*=include ../../include/component/informations.mjml" */
                    </div>

                    <!-- ADRESSE LIVRAISON -->
                    <div>
                      /*=include ../../include/component/shipping.mjml" */
                    </div>

                    <!-- ADRESSE FACTURATION -->
                    <div>
                      /*=include ../../include/component/billing.mjml" */
                    </div>

                    <!-- DETAILS -->
                    <div style="width: 100%; height: auto;">
                      /*=include ../../include/component/details.mjml" */
                    </div>

                  </span>
                </span>
              </div>
            </td></tr>
            </mj-raw>
          </mj-column>
        </mj-section> <!-- end order details -->
      </mj-wrapper>

      <!-- contact -->
      /*=include ../../include/component/contact.mjml" */

      <mj-raw>{% else %}</mj-raw>

      <!-- header image -->
      <mj-section full-width="full-width" padding="10px 0">
        <mj-column>
          <mj-image mj-class="mail__img-resp" src="${{ shopify.shipping_confirmation.banner_blue }}$" />
        </mj-column>
      </mj-section>


      <!-- mail content -->
      <mj-wrapper>
        <!-- content text intro -->
        <mj-section full-width="full-width">
          <mj-column>
            <mj-text mj-class="mail__text--blue mail__text--heavy">
              ${{ shopify.shipping_confirmation.text }}$
              <br />
              <br />
            </mj-text>
            <mj-text>
              ${{ shopify.shipping_confirmation.text1--blue }}$<br />
              ${{ shopify.shipping_confirmation.text2--blue }}$</a>
              <br />
              <br />
            </mj-text>
          </mj-column>
        </mj-section>

        <mj-section full-width="full-width">
          <mj-column>
            <mj-button mj-class="mail__button--blue" href="${{ shopify.shipper }}$">
              ${{ shopify.follow }}$
            </mj-button>
          </mj-column>
        </mj-section>
        <!-- order details -->
        <mj-section>
          <mj-column>
            <mj-raw>
            <tr><td>
              <!-- INFORMATIONS -->
              <div>
                <span>
                  <span style="display: block;">
                    <div>
                      /*=include ../../include/component/informations-blue.mjml" */
                    </div>
                    <div></div>
                    <!-- ADRESSE LIVRAISON -->
                    <div>
                      /*=include ../../include/component/shipping-blue.mjml" */
                    </div>

                    <!-- ADRESSE FACTURATION -->
                    <div>
                      /*=include ../../include/component/billing-blue.mjml" */
                    </div>

                    <!-- DETAILS -->
                    <div style="width: 100%; height: auto;">

                      /*=include ../../include/component/details-blue.mjml" */
                    </div>

                  </span>
                </span>
              </div>
            </td></tr>
            </mj-raw>
          </mj-column>
        </mj-section> <!-- end order details -->
      </mj-wrapper>

      <!-- contact -->
      /*=include ../../include/component/contact-blue.mjml" */

      <mj-raw>{% endif %}</mj-raw>
      <!-- social -->
      /*=include ../../include/component/social.mjml" */

      <!-- copyright -->
      /*=include ../../include/component/copyright.mjml" */
    </mj-container>
  </mj-body>
</mjml>
