<mj-wrapper background-color="#fcf8dd" padding="35px 20px">

    <!-- message -->
    <mj-section>
      <mj-group>
        <mj-column width="10%">
            <mj-text mj-class="mail__text--blue mail__text--heavy" align="right">
                &#127775;
            </mj-text>
        </mj-column>
        <mj-column width="79%">
            <mj-text mj-class="mail__text--blue mail__text--heavy" align="center">
                ${{ shopify.footer.contact.here4u }}$
            </mj-text>
        </mj-column>
        <mj-column width="10%">
            <mj-text mj-class="mail__text--blue mail__text--heavy" align="left">
                &#127775;
            </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>

    <!-- mail, phone, chat -->
    <mj-section>
        <mj-group>
            <mj-column>
                <mj-image src="https://cdn.shopify.com/s/files/1/0761/1455/files/img-01.png" width="43px" href="mailto:${{ shopify.footer.contact.mail }}$" />
                <mj-text align="center">
                    <a href="mailto:${{ shopify.footer.contact.mail }}$">${{ shopify.footer.contact.mail }}$</a>
                </mj-text>
            </mj-column>
            <mj-column>
                <mj-image src="https://cdn.shopify.com/s/files/1/0761/1455/files/img-02.png" href="${{ shopify.footer.contact.site }}$" width="48px" />
                <mj-text align="center">
                    <a href="${{ shopify.footer.contact.site }}$">${{ shopify.footer.contact.chat }}$</a>
                </mj-text>
            </mj-column>
            <mj-column>
                <mj-image src="https://cdn.shopify.com/s/files/1/0761/1455/files/img-03.png" width="30px" href="tel:${{ shopify.footer.contact.tel }}$" />
                <mj-text align="center">
                    <a href="tel:${{ shopify.footer.contact.tel }}$">${{ shopify.footer.contact.tel }}$</a>
                </mj-text>
            </mj-column>
        </mj-group>
    </mj-section>
</mj-wrapper>