<mj-wrapper padding="0 20px" background-color="#f5f5f5">
    <mj-section full-width="full-width" padding="14px 0">
        <mj-column>
            <mj-raw>
                <p style="margin:0; text-align:center">©soshape ${{ shopify.footer.copyright }}$.</a></p>
            </mj-raw>
        </mj-column>
    </mj-section>
</mj-wrapper>