<h3 class="mail__header mail__header--blue" style="background-image:url(https://cdn.shopify.com/s/files/1/0249/9003/files/title-blue-05.png?8296963401586339406)">${{ shopify.order_details.title }}$</h3>
<table class="invoice invoice__body">
  <thead>
    <tr>
      <th>${{ shopify.order_details.designation }}$</th>
      <th>${{ shopify.order_details.price }}$</th>
      <th>${{ shopify.order_details.quantity }}$</th>
      <th>${{ shopify.order_details.total }}$</th>
    </tr>
  </thead>
  <tbody>
  {% for line in line_items %}
    <tr>
      <td>
        <span class="mail__text--blue">{{ line.variant.option1 }}</span>
        {% if line.properties %}
        {% for p in line.properties %}
          {% unless p.last == blank %}
          {% assign flavourNumber = p.last %}
          {% assign flavourNumberToHide = flavourNumber | plus:'1' %}
          {% if flavourNumberToHide != 1 %}
          <div class="invoice__detail">
            {% if  p.first == 'VANILLA'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/vanille_9e43bd46-fc8d-4449-aed2-62c8d5d49a90.png?2812576643263232046" alt="VANILLA">{{ p.last }}  ${{ shopify.items.vanilla }}$</p>
            {% elsif p.first == 'CHOCOLATE'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/chocolat_68bf41fe-b0ad-46be-9950-4b1791d395fe.png?2812576643263232046" alt="CHOCOLATE">{{ p.last }}  ${{ shopify.items.chocolate }}$</p>
            {% elsif p.first == 'RASPBERRY'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/framboise_43f9a853-1bcc-451c-9dfd-913676dcb9b9.png?2812576643263232046" alt="RASPBERRY">{{ p.last }}  ${{ shopify.items.raspberry }}$</p>
            {% elsif p.first == 'STRACCIATELLA'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/stracciatella_2ab7097a-992b-4720-a721-306155ebd936.png?2812576643263232046" alt="STRACCIATELLA">{{ p.last }}  ${{ shopify.items.stracciatella }}$</p>
            {% elsif p.first == 'CAPPUCCINO'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/cappuccino_08a80802-7619-4900-8eb6-07b99b17d22a.png?2812576643263232046" alt="CAPPUCCINO">{{ p.last }}  ${{ shopify.items.cappuccino }}$</p>
            {% elsif p.first == 'TOMATO' %}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/tomate.png?2812576643263232046" alt="TOMATO">{{ p.last }}  ${{ shopify.items.tomato }}$</p>
            {% elsif p.first == 'SOUPEDUJARDIN' %}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/soupe-jardin_b138cdb0-0863-40b8-90e9-1a31ba47f3ac.png?2812576643263232046" alt="SOUPEDUJARDIN">{{ p.last }}  ${{ shopify.items.soupedujardin }}$</p>
            {% elsif p.first == 'CHEESECAKELEMON'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/cheesecake-citron_d00da73c-42ee-4bd0-9398-dbbc7fdc5aa1.png?2812576643263232046" alt="CHEESECAKELEMON">{{ p.last }}  ${{ shopify.items.cheesecakelemon }}$</p>
            {% elsif p.first == 'MINTCHOCO'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/menthe.png?2812576643263232046" alt="MINTCHOCO">{{ p.last }}  ${{ shopify.items.mintchoco }}$</p>
            {% elsif p.first == 'COOKIECREAM'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/cookies.png?2812576643263232046" alt="COOKIECREAM">{{ p.last }}  ${{ shopify.items.cookiecream }}$</p>
            {% elsif p.first == 'SPECULOOS'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/speculoos_20237d01-d5e5-4800-900e-79ab821ccde0.png?2812576643263232046" alt="SPECULOOS">{{ p.last }}  ${{ shopify.items.speculoos }}$</p>
            {% elsif p.first == 'SPICYBOLO'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/spicy-bolo_88ebcd9c-0e26-450e-94e8-5d2df23bfcf7.png?2812576643263232046" alt="SPICYBOLO">{{ p.last }} ${{ shopify.items.spicybolo }}$</p>
            {% elsif p.first == 'INDIANCURRY'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/indian-curry_f302c831-ef08-4978-851f-af2054927073.png?2812576643263232046" alt="INDIANCURRY">{{ p.last }} ${{ shopify.items.indiancurry }}$</p>
            {% elsif p.first == 'RISOTTO'%}
               <p><img src="https://cdn.shopify.com/s/files/1/0249/9003/files/risotto_13e9c54a-f598-4145-9810-b3337207557f.png?2812576643263232046" alt="RISOTTO">{{ p.last }} ${{ shopify.items.risotto }}$</p>
            {% elsif p.first contains 'SHAKER'%}
               <p>{{ p.last }} ${{ shopify.items.shaker }}$</p>
            {% elsif p.first contains 'PEPITES'%}
               <p>{{ p.last }} ${{ shopify.items.pepites }}$</p>
            {% elsif p.first contains 'SMARTMUFFINS_CHOCOLAT'%}
               <p>{{ p.last }} ${{ shopify.items.smartmuffins_chocolat }}$</p>
            {% elsif p.first contains 'SMARTMUFFINS_VANILLE'%}
               <p>{{ p.last }} ${{ shopify.items.smartmuffins_vanille }}$</p>
            {% elsif p.first contains 'SMARTCEREALES_CHOCO'%}
               <p>{{ p.last }} ${{ shopify.items.smartcereales_choco }}$</p>
            {% elsif p.first contains 'SMARTCEREALES_BERRY'%}
               <p>{{ p.last }} ${{ shopify.items.smartcereales_berry }}$</p>
            {% elsif p.first contains 'PANCAKESSMF250'%}
               <p>{{ p.last }} ${{ shopify.items.pancakes }}$</p>
            {% elsif p.first contains 'SMARTMUGCAKE_CHOCO'%}
               <p>{{ p.last }} ${{ shopify.items.smartmugcake_choco }}$</p>
            {% endif %}
            {% endif %}
            {% endunless %}
          </div>
        {% endfor %}
        {% endif %}
      </td>
      <td>{{ line.price| money_without_currency }}€</td>
      <td>{{ line.quantity }}</td>
      <td>{{ line.line_price| money_without_currency  }}€</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<table class="invoice invoice__total">
  <tbody>
    <tr class="mail__text--blue">
      <td>${{ shopify.order_details.products_total }}$</td>
      <td>{{ subtotal_price | money_without_currency }} €</td>
    </tr>
    <tr>
      <td>${{ shopify.order_details.shipping_cost }}$</td>
      <td>{{ shipping_price | money_without_currency }} €</td>
    </tr>
    {% if discounts %}
    <tr>
      <td>${{ shopify.order_details.redeem }}$</td>
      <td>{{ discounts_savings | money_without_currency }} €</td>
    </tr>
    {% endif %}
    <tr class="mail__text--blue">
      <td>${{ shopify.order_details.total }}$</td>
      <td>{{ total_price | money_without_currency }} €</td>
    </tr>
  </tbody>
</table>