<h3 class="mail__header mail__header--red mail__header--small" style="background-image:url(https://cdn.shopify.com/s/files/1/0761/1455/files/title-02.png)">${{ shopify.cancel_reason }}$</h3>
<p>{{cancel_reason}}</p>