<h3 class="mail__header mail__header--blue" style="background-image:url(https://cdn.shopify.com/s/files/1/0761/1455/files/title-blue-03.png)">${{ shopify.shipping_address }}$</h3>
<p class="mail__text--heavy">
  {{ shipping_address.name }}
</p>
<p>
  {{ shipping_address.street }}<br/>
  {{ shipping_address.zip }} {{ shipping_address.city }} {{ shipping_address.province }}<br/>
  {{ shipping_address.country }}
</p>