<mj-raw>
  {% assign not_abo = true %}
  {% for l in line_items %}
    {% if l.sku contains "SMARTCLUB" %}
      {% assign not_abo = false %}
    {% endif %}
  {% endfor %}
  {% if not_abo %}
</mj-raw>