<mj-attributes>

  <!-- mjml components -->
	<mj-container width="1024px" />
	<mj-text padding="0" color="#959595" font-size="17px" line-height="36px" />
	<mj-wrapper padding="20px" />
	<mj-button color="#fff" text-transform="uppercase" border-radius="30px" inner-padding="20px 20px" font-size="17px" line-height="36px" font-weight="bold" width="auto" />

  <!-- mjml classes -->
	<mj-class name="mail__text--heavy" font-weight="bold" width="auto" />
	<mj-class name="mail__text--center" text-align="center" />
  <mj-class name="mail__img-resp" padding="0" display="block" />
	<mj-class name="mail__img-wrapper" width="33.33%" />
	<mj-class name="mail__header" text-transform="uppercase" font-weight="bold" padding-bottom="10px" />

  <!-- colors -->
  <mj-class name="mail__header--red" color="#ff6666" />
  <mj-class name="mail__header--blue" color="#40c5ff" />
  <mj-class name="mail__text--red" color="#ff6666" width="auto" />
  <mj-class name="mail__text--blue" color="#40c5ff" width="auto" />
  <mj-class name="mail__button--red" background-color="#ff6666" />
  <mj-class name="mail__button--blue" background-color="#40c5ff" />

  <!-- fonts -->
	<mj-all font-family="Campton, sans-serif" />
</mj-attributes>